@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #69748f;
    margin: 0;
    padding: 0;
    color: rgb(228, 220, 206);
    overflow-x: hidden;
}
.heading1{
    height: 100vh;
    margin: 0;
}
.box1{
    position: absolute;
    top: 0;
    background: linear-gradient(110deg, rgb(228, 220, 206), transparent 50%);
    height: 100vh;
    width: 600px;
}
.headCon{
    position: absolute;
    background: #69748f;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.line1{
    position: absolute;
    top: -100px;
    left: 50%;
    height: 80vh;
    width: 20px;
    border-left: 2px solid rgb(228, 220, 206);
    border-right: 2px solid rgb(228, 220, 206);
    background-color: transparent;
    transform: rotate(20deg);
}
.line2{
    position: absolute;
    bottom: -100px;
    right: 53.8%;
    height: 80vh;
    width: 20px;
    border-right: 2px solid #aa9b82;
    border-left: 2px solid #aa9b82;
    background-color: transparent;
    transform: rotate(20deg);
    z-index: -1;
}
.headname1{
    position: absolute;
    font-family: 'Bebas Neue',sans-serif;
    top: 25%;
    left: 32%;
    font-size: 8em;
    letter-spacing: 5px;
    font-weight: 300;
}
.headname2{
    position: absolute;
    display: flex;
    font-family: 'Bebas Neue',sans-serif;
    bottom: 20%;
    right: 16.5%;
    font-size: 8em;
    letter-spacing: 5px;
    font-weight: 300;
}
.hoverme{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2%;
    font-size: 2.2rem;
    font-family: 'Bebas Neue',sans-serif;
    letter-spacing: 2px;
}
.hoverme::before{
    content: '';
    background: url("../static/4274640.png");
    background-size: contain;
    position: absolute;
    top: -100px;
    left: -150px;
    height: 200px;
    width: 200px;
    z-index: 5;
    transform: scaleY(-1);
    filter: invert(80%);
}

.articles{
    padding: 5%;
    background-color: rgb(228, 220, 206);
    color: black;
    line-height: 1.3;
}
.articlebody{
    padding: 0 5%;
}
.articleheading{
    font-weight: bold;
    text-transform: uppercase; 
    font-size: 1.3em;
}
.articleheading::before{
    content: "";
    position: absolute;
    left: -2%;
    height: 1.3em;
    width: 10%;
    background: linear-gradient( to left,#aa9b82, transparent);
}
.endbar{
    margin: 10%;
    height: 2px;
    width: 50%;
    background: #aa9b82;
    margin-left: 50%;
    transform: translateX(-50%);
}
.endbar::before{
    content: "";
    position: absolute;
    right: 0;
    margin-right: -20px;
    height: 4px;
    width: 4px;
    transform: rotate(45deg) translateY(-50%);
    background-color: #aa9b82;
}
.endbar::after{
    content: "";
    position: absolute;
    margin-left: -20px;
    height: 4px;
    width: 4px;
    transform: rotate(45deg) translateY(-50%);
    background-color: #aa9b82;
}
.form1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.form1submit{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    background: rgb(228, 220, 206);
    color: black;
    padding: 8px 25px;
    border: 2px solid rgb(228, 220, 206);
}
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 8px 25px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
  }
  
.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    max-width: 40%;
    border: 1px solid var(--select-border);
    padding: 0.25em 0.5em;
    font-size: 0.95rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.headname1, .headname2, .line1, .line2, .form1{
    transition: 200ms ease-in-out;
}
body:has(.headCon:hover) .headname1, body:has(.form1:hover) .headname1{
    top: 20%;
    left: 20%;
}
body:has(.headCon:hover) .headname2, body:has(.form1:hover) .headname2{
    bottom: 10%;
    right: 2.5%;
}
body:has(.headCon:hover) .line1, body:has(.form1:hover) .line1{
    left: 37%;
}
body:has(.headCon:hover) .line2, body:has(.form1:hover) .line2{
    right: 37.8%;
}
body:has(.headCon:hover) .form1, body:has(.form1:hover) .form1{
    opacity: 1;
    z-index: 0;
}